<html>

<head>
    <title>RESTO</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" href="../static/img/icon.png" type="png">
</head>
<body>
    <header>
        <h1>RESTO</h1>
        <img src="../static/img/icon.png" type="png">
    </header>
    <div class="navbar">
        <a class="right" href="auth">Вход</a>
        <a class="right" href = "register" >Регистрация</a>
        <a href="top"> Топ 2023 года </a>
        <a href="rate">Рейтинг </a>
        <a href="/">Главная </a>
    </div>
    <div class="row5">
        <ul class="rate">
            <li><a href="#">Все рейтинги Москвы</a></li>
            <li><a href="#">Русские рестораны</a></li>
            <li><a href="#">Итальянские рестораны</a></li>
            <li><a href="#">Восточные рестораны</a></li>
            <li><a href="#">Японские рестораны и суши-бары</a></li>
            <li><a href="#">Китайские рестораны</a></li>
            <li><a href="#">Бары</a></li>
            <li><a href="#">Недорогие рестораны</a></li>
        </ul>

        <div class="rating">
            <h2>Рейтинги ресторанов Москвы</h2>
            <h4>Ежегодно в Москве открывается более 300 ресторанов, кафе и баров. Чтобы вам было легче сориентироваться среди такого огромного количества заведений, мы составили рейтинг лучших ресторанов Москвы по оценкам из отзывов наших пользователей.</h4>
        </div>
    </div>
    <div class="footer">
        <h2>RESTO</h2>
        <h4>О проекте</h4>
        <h4>Реклама</h4>
        <h4>Контакты</h4>
    </div>
</body>
</html>