<!doctype html>
<html lang="en">
<head>
    <title>RESTO</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" href="../static/img/icon.png" type="png">
</head>
<body>
    <header>
        <h1>RESTO</h1>
        <img src="../static/img/icon.png" type="png">
    </header>
    <div class="navbar">
        <a class="right" href = "auth" >Вход</a>
        <a class="right" href = "register" >Регистрация</a>
        <a href="top"> Топ 2023 года </a>
        <a href="rate">Рейтинг </a>
        <a href="/">Главная </a>
    </div>
    <div class="resto"><h1>Поиск лучших ресторанов Москвы<h1> </div>

    <div class="search-box">
        <input type="text" name="" class="search-txt" placeholder="Type to search"/>
        <a class="search-btn" href="#">
        <i class="fa fa-search" aria-hidden="true"></i>
        </a>
    </div>

    <div class="container">

        <div class="row">
            <div class="column" id="first">
                <img src="../static/img/image.jpg">
                <div class="layer">
                    <h3>O2 Restaurant</h3>
                </div>
            </div>
            <div class="column" id="sec">
                <img src="../static/img/image2.jpg">
                <div class="layer">
                    <h3>Облако 53</h3>
                </div>
            </div>
            <div class="column" id="thi">
                <img src="../static/img/image3.png">
                <div class="layer">
                    <h3>Ikura izakaya nikkei</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row2">
        <div class="main"></div>
        <h5>Подробнее: </h5>
        
    </div>

    <div class="side">
        <p>O2 Restaurant - это изысканный ресторан на крыше отеля: блюда из морепродуктов, крафтовые коктейли и панорамный вид на город. Если вас заинтересовало описание ресторана переходите по ссылке: https://o2restaurant.com/ru/ либо звоните: 8 (901) 258-52-77.
            «Облако 53 Москва» — двух уровневый ресторан с роскошным интерьером 60-ых годов в современном стиле и террасами на крыше. Атмосферный лаунж-бар, созданные для живого общения и комфортного отдыха. В первую очередь мы делаем акцент на безупречное качество, первоклассный сервис и индивидуальный подход к каждому гостю. 
        </p>
    </div>
    <div class="footer">
        <h2>RESTO</h2>
        <h4>О проекте</h4>
        <h4>Реклама</h4>
        <h4>Контакты</h4>
    </div>

</body>

</html>