<html>

<head>
    <title>RESTO</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" href="../static/img/icon.png" type="png">
</head>
<body>
    <header>
        <h1>RESTO</h1>
        <img src="../static/img/icon.png" type="png">
    </header>
    <div class="navbar">
        <a class="right" href="auth">Вход</a>
        <a class="right" href = "register" >Регистрация</a>
        <a href="top"> Топ 2023 года </a>
        <a href="rate">Рейтинг </a>
        <a href="/">Главная </a>
    </div>
    <div class="restaurant">
            <h2>Топ лучших ресторанов в Москве 2023 года</h2>

            <div class="side">
                <div class="fakeimg">
                    <img src="../static/img/savva.jpg" type="jpg">
                    <h3>1. SAVVA</h3>
                    <h4>Описание ресторана: </h4>
                    <p>Новаторский и элегантный ресторан расположился в здании отеля «Метрополь» и получил имя основателя гостиницы – мецената Саввы Мамонтова. Если вас заинтересовало: </p>
                    <a href="https://www.savvarest.ru/">Сайт ресторана </a>
                </div>
            </div>

            <div class="side">
                <div class="fakeimg">
                    <img src="../static/img/olluco.jpg" type="jpg">
                    <h3>2. OLLUCO</h3>
                    <h4>Описание ресторана: </h4>
                    <p>Ресторан Olluco - это новый гастрономический опыт, который Вирхилио Мартинес и его команда создали вместе с Mater Iniciativa в соответствии с ее ценностями.</p>
                    <a href="https://olluco.ru/">Сайт ресторана </a>
                </div> 
            </div>

            <div class="side">
                <div class="fakeimg">
                    <img src="../static/img/loona.jpg" type="jpg">
                    <h3>3. LOONA</h3>
                    <h4>Описание ресторана: </h4>
                    <p>Просторный двухэтажный ресторан Loona — про итальянскую классику в современном прочтении. Акцент сделан на тесто для пиццы и пасты, которое здесь готовят самостоятельно.</p>
                    <a href="https://loona.rest/">Сайт ресторана </a>
                </div>
            </div>   
    </div>
    <div class="footer">
        <h2>RESTO</h2>
        <h4>О проекте</h4>
        <h4>Реклама</h4>
        <h4>Контакты</h4>
    </div>
</body>
</html>